# A set of files you probably don't want in your WordPress.org distribution
.babelrc export-ignore
.circleci/config.yml export-ignore
.deployignore export-ignore
.distignore export-ignore
.DS_Store export-ignore
.editorconfig export-ignore
.eslintignore export-ignore
.eslintrc export-ignore
.git export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.gitlab-ci.yml export-ignore
.phpcs.xml export-ignore
.phpcs.xml.dist export-ignore
.travis.yml export-ignore
*.sql export-ignore
*.tar.gz export-ignore
*.zip export-ignore
behat.yml export-ignore
bin export-ignore
bitbucket-pipelines.yml export-ignore
composer.json export-ignore
composer.lock export-ignore
dependencies.yml export-ignore
Gruntfile.js export-ignore
multisite.xml export-ignore
multisite.xml.dist export-ignore
node_modules export-ignore
package-lock.json export-ignore
package.json export-ignore
phpcs.xml export-ignore
phpcs.xml.dist export-ignore
phpunit.xml export-ignore
phpunit.xml.dist export-ignore
README.md export-ignore
tests export-ignore
Thumbs.db export-ignore
webpack.config.js export-ignore
wp-cli.local.yml export-ignore
yarn.lock export-ignore
/assets export-ignore
/vendor export-ignore
